/*Думается мне, что ошибка может быть в том, что макет вновь не центрируется, но так быть не должно, все боди же с нормальным маргином */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
}

body {
  width: 100%;
  margin: 0 auto 0 auto;
  font-family: Raleway, sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 148px;
  height: 105px;
}

a,
u {
  text-decoration: none;
}

li {
  list-style: none;
}