/* Комментарий для коммита */
.header__links {
    display: flex;
    box-sizing: border-box;
    width: 1440px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 94px 52px 98px 19px;
    align-items: center;
    padding-left: 30px;
    padding-right: 80px;
}
.header__links-lots, .header__links-about {
    text-decoration: underline;
}
.header__links-list {
    display: flex;
    list-style: circle;
    gap: 32px;
    align-content: center;
}

.header__links-main {
    list-style: none;
    align-content: center;
}


.address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}

.logo__heading {
    width: 140px;
    height: 100px;
    align-content: center;
    margin-left: 209px;
    margin-right: 355px;
}

.big__letters {
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    white-space: nowrap;
    /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.intro_big_picture {
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/cover.jpg);
    margin-bottom: 180px;
    padding: 0;
    width: 1440px;
    z-index: 0;
    height: 757px;
}

.intro__big_letters-first {
    display: flex;
    width: 1340px;
    align-items: start;
    z-index: 1;
    margin-bottom: 12px;
}

.intro__big_letters-second {
    display: flex;
    width: 1340px;
    justify-content: center;
    z-index: 1;
    padding-right: 30px;
    margin-bottom: 5px;
}

.intro__big_letters-third {
    display: flex;
    width: 1340px;
    justify-content: end;
    z-index: 1;
    margin-left: 30px;
}

.intro__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.big__letters-gap {
    letter-spacing: 60px;
}

.overlay__cards {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.intro__lower-section {
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 127.273% */
    text-transform: uppercase;
    justify-content: center;
    margin-left: 365px;
    margin-bottom: 7px;
    align-items: center;
}

.intro__container {
    display: flex;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 60px;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 167px;
    flex-wrap: wrap;
}

.intro__lower-text {
    text-align: center;
    margin-right: 78px;
    word-spacing: 15px;
    z-index: 1;
}

.intro__button {
    text-transform: uppercase;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 12px 32px;
    z-index: 1;
}

.main__text-big {
    margin-left: 40px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.main__lots {
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Отступ между карточками */
}

.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Цвет затенения */
    z-index: 1;
    /* Устанавливаем z-index выше, чтобы затенение было над изображением */
    top: 0;
    left: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    flex-grow: 1;
    flex-basis: calc(33.33% - 20px);
    min-height: 450px;
    background-color: #f0f0f0;
    padding: 50px 40px 50px 40px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



@media (max-width: 960px) {
    .card:nth-child(3) {
        flex-basis: 100%;
        /* Переносим третий элемент на новую строку, занимая всю ширину */
    }
}

.card__title {
    position: relative;
    z-index: 2;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__description {
    position: relative;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
    z-index: 2;
    text-align: start;
}

.card__cinema {
    position: relative;
    z-index: 0;
    background-image: url(../images/card-lot-01.jpg);
}

.card__book {
    position: relative;
    z-index: 0;
    background-image: url(../images/card-lot-02.jpg);
}

.card__paint {
    position: relative;
    z-index: 0;
    background-image: url(../images/card-lot-03.jpg);
}

.card__find-more {
    margin-top: 30px;
    margin-left: 40px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}

.about__container {
    display: flex;
    margin-top: 181px;
    padding-right: 100px;
}

.about__figure {
    position: relative;
    top: 1px;
    left: 50px;
    min-width: 240px;
    max-height: 240px;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 95px
}

.about__figure img {
    max-width: 150px;
    max-height: 115px;
    display: block;
}

.about__text {
    position: relative;
    top: 3px;
    left: 75px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: none;
    margin-left: 95px;
    margin-top: 100px;
    margin-bottom: 130px;
}

.about__text-title {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text-description_first {
    display: flex;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.about__text-description_second {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__container {
    width: 1340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 55px 50px 90px 50px;
    align-items: flex-start;
    padding-right: 50px;

}

.footer__links-list {
    text-align: center;
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Выравнивание по центру */
    margin-bottom: 20px;
    /* Отступ снизу */
    margin-right: 80px;
}

.footer__social-media {
    display: flex;
    width: 50px;
    gap: 50px;
    align-self: flex-start;
    box-sizing: border-box;
    justify-content: center;
    margin-right: 55px;
    position: relative;
    left: 10px;
    /* Ну я реально не знаю как его сделать чтобы 1в1 как на макете иначе не получается */
}
.footer__links_lots, .footer__links_about, .footer__links-main{
    text-decoration: underline;

}
.footer_address {
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}

.footer__navigation {
    color: #000;
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}
.social_media-image {
    height: 48px;
    width: 48px;
}
/* место для вашего кода */