/* Комментарий для коммита */
.header__links {
    display: flex;
    box-sizing: border-box;
    width: 1440px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 94px 0 98px 0;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between;
}

.header__links-lots,
.header__links-about {
    text-decoration: underline;
    list-style: circle;
}

.header__links-list {
    padding-left: 23px;
    display: flex;
    list-style: circle;
    gap: 32px;
    align-content: center;
}

.header__links-main {
    list-style: none;
    align-content: center;
}


.address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    padding-right: 50px;
}

.logo__heading {
    width: 286px;
    height: 100px;
    align-content: center;
}

.big__letters {
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    white-space: nowrap;
    /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.intro_big_picture {
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/cover.jpg);
    margin-bottom: 180px;
    padding: 0;
    width: 1440px;
    z-index: 0;
    padding-bottom: 50px;
}

.intro__big_letters {
    display: flex;
    width: 1340px;
    justify-content: center;
    z-index: 1;
}
.first {
    justify-content: start;
    margin-bottom: 12px;
}

.second {
    justify-content: center;
    padding-right: 30px;
    margin-bottom: 5px;
}

.third {
    justify-content: end;
    margin-left: 30px;
    margin-bottom: 125px;
}

.intro__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.big__letters-gap {
    letter-spacing: 60px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    overflow: hidden;
}

.intro__lower-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #FFF;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 127.273% */
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
}

.intro__container {
    display: flex;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 60px;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 167px;
    flex-wrap: wrap;
}

.intro__lower-text {
    white-space: nowrap;
    text-align: center;
    word-spacing: 15px;
    grid-column: 2;
    z-index: 1;
    /*Можно поделить на еще большее количество колонок чтобы прям 1в1 уместить, но это слишком и у нас вроде есть допустимые отклонения */
}

.intro__button {
    width: 257px;
    grid-column: 3;
    text-transform: uppercase;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 12px 32px;
    z-index: 1;
    justify-self: end;

}

.main__text-big {
    margin-left: 40px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.main__lots {
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;

}

.card-container {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_flexability {
    min-height: 450px;
    width: 430px;
    flex-grow: 1;
}
.card__title {
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
    position: relative;
    z-index: 2;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    white-space: wrap;
}

.card__description {
    white-space: wrap;
    padding-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px;
    position: relative;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 2;
    text-align: start;
}
.card__cinema {
    background-image: url(../images/card-lot-01.jpg);
}

.card__book {
    background-image: url(../images/card-lot-02.jpg);
}

.card__paint {   
    background-image: url(../images/card-lot-03.jpg);
}

.card__find-more {
    margin-top: 30px;
    margin-left: 40px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}

.about__container {
    display: flex;
    margin-top: 181px;
    padding-right: 50px;
    margin-bottom: 50px;
}

.about__figure {
    position: relative;
    top: 1px;
    left: 50px;
    min-width: 240px;
    max-height: 240px;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 95px
}

.about__figure img {
    max-width: 150px;
    max-height: 115px;
    display: block;
}

.about__text {
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: none;
    margin-left: 168px;
    margin-top: 104px;
    margin-bottom: 82px;
}

.about__text-title {
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text-description_first {
    display: flex;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.about__text-description_second {
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__container {
    width: 1340px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 52px;
    padding-left: 48px
}

.footer__links-list {
    justify-self: center;
    text-align: center;
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__social-media {
    justify-self: end;
    display: flex;
    width: 50px;
    gap: 50px;
    align-self: flex-start;
    box-sizing: border-box;
    justify-content: center;
    margin-right: 50px;

}

.footer__links_lots,
.footer__links_about,
.footer__links-main {
    text-decoration: underline;
}

.footer_address {
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}

.footer__navigation {
    color: #000;
    justify-self: center;
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding-left: 48px;
}

.social_media-image {
    height: 48px;
    width: 48px;
}

/* место для вашего кода */